body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  position: fixed;
  height: 50px;
  background-color: grey;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 5;
}

.navbar h1 {
  color: white;
  margin: 0 auto;
  width: 100%;
}

.navbar .user {
  position: fixed;
  color: red;
  right: 3%;
  top: 8px;
}

.navbar .user h4 {
  margin: 0;
  padding: 5px 10px;
  background-color: white;
}

.content {
  width: 70%;
  background-color: red;
  height: 2000px;
  margin: 0 auto;
  margin-top: 50px;
}

.sidebarButton {
  width: 30px;
  height: 30px;
  object-fit: cover;
  position: fixed;
  left: 3%;
  top: 8px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 1000px;
  background-color: green;
  top: 50px;
}

.userEntry {
  border: 2px solid black;
}

.calendargrid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-family: sans-serif;
  border: 4px solid #e6e6e6;
  position: relative;
}

.days {
  font-weight: bold;
  text-align: center;
  height: auto;
  padding: 10px 0;
  background: #e9e9e9;
  border-bottom: 3px solid #cacaca;
}

.navigation {
  width: 100%;
  padding: 10px 8px 14px 8px;
  border-bottom: 3px solid #b3b3b3;
}

.navigation div {
  display: inline-block;
  width: 33.33%;
}

.navigation .monthAndYear {
  text-align: center;
  font-weight: bold;
}

.navigation .back, 
.navigation .forward {
  cursor: pointer;
  font-size: 0.7em;
  color: grey;
}

.navigation .back {
  text-align: left;
}

.navigation .forward {
  text-align: right;
}

.cell {
  background: #fffeee;
  width: 14.2857%;
  height: 90px;
  font-size: 0.7em;
  box-shadow: 0 0px 1px #393939;
}

.cell .date {
  margin: 4px;
}