body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.backgroundImage {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 50px;
  object-fit: fill;
  opacity: 0.5;
  margin: 0;
}

.backgroundImage img {
  width: 100%;
  height: 100%;
}

h1 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  position: fixed;
  height: 100px;
  background-color: white;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 5;
  box-shadow: 0px 1px 20px 0 #393939;
}

.navbar h1 {
  color: rgb(50, 50, 50);
  margin: 0 auto;
  width: 100%;
}

.navbar .user {
  position: fixed;
  right: 3%;
  top: 8px;
}

.navbar .user h4 {
  margin: 0;
  padding: 5px 10px;
  background-color: white;
}

.contentContainer {
  width: 70%;
  background-color: rgb(170, 180, 130);
  height: 100%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 200px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.content h1 {
  color: rgb(40, 40, 40);
}

.sidebarButton {
  width: 50px;
  height: 50px;
  object-fit: cover;
  position: fixed;
  left: 3%;
  top: 20px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  width: 250px;
  height: fit-content;
  background-color: #e9e9e9;
  top: 100px;
  left: 30px;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 30px;
  box-shadow: 3px 10px 10px 0 #393939;
  z-index: 10;
  border-top: 3px dashed rgba(57, 57, 57, 0.5);
}

.sidebar h1:hover {
  text-decoration: underline;
}

.sidebar h3:hover {
  text-decoration: underline;
}

.wrapper {
  width: 99%;
  min-height: 00px;
  margin: 5px;
  margin: 0 auto;
}

.calendarHead {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  background: rgb(166, 236, 166);
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 27px;
}
.daysHeader {
  text-align: center;
  background: rgb(242, 242, 204);
  font-size: 1.3rem;
}

.calendarBody {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.days {
  border: 1px solid grey;
  min-height: 100px;
  text-align: right;
  padding: 5px;
  background: rgb(249, 249, 151);
  cursor: pointer;
}

.today {
  border: 1px solid rgb(110, 177, 39);
  min-height: 100px;
  text-align: right;
  padding: 5px;
  background: rgb(166, 236, 166);
  font-weight: bold;
  cursor: pointer;
}

.events {
  display: grid;
  text-align: left;
  background: green;
  color: white;
  padding: 8px;
  border-radius: 5px;
  margin: 1px;
}

.modal {
  background: white;
  position: absolute;
  width: 400px;
  height: 500px;
  top: 55%;
  left: 50%;
  border-radius: 5px;
  box-shadow: 10px 10px 10px grey;
  transform: translate(-50%, -50%);
}

.addModal {
  background: rgb(236, 253, 229);
  position: absolute;
  width: 400px;
  height: 500px;
  top: 55%;
  left: 50%;
  border-radius: 5px;
  box-shadow: 10px 10px 10px grey;
  transform: translate(-50%, -50%);
}

.closeModal {
  position: absolute;
  top: 90%;
  left: 3%;
  height: 35px;
  width: 380px;
  background: rgb(247, 204, 204);
  border-radius: 5px;
  cursor: pointer;
}

.addEvent {
  position: absolute;
  top: 81%;
  left: 3%;
  height: 35px;
  width: 380px;
  background: rgb(220, 247, 206);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.modalContents {
  padding: 30px;
}

.addModalContents {
  color: green;
  padding: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

.headerLogo {
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  width: fit-content;
  margin: 0 auto;
}

.headerLogo img {
  display: inline-block;
  height: 80%;
  vertical-align: middle;
  margin-right: 20px;
  cursor: pointer;
}

.headerLogo h1 {
  display: inline-block;
  width: fit-content;
  vertical-align: middle;
  cursor: pointer;
}

.profile {
  height: 50px;
  width: 50px;
  margin-top: 15px;
  cursor: pointer;
}

.login {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
  color: rgb(50, 50, 50);
  border: 4px solid rgb(50, 50, 50);
  border-radius: 20px;
  padding: 5px 10px;
}

.login:hover {
  color: white;
  background-color: rgb(50, 50, 50);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 3%;
}

#newEntry {
  background: none;
  border: 3px solid rgb(50, 50, 50);
  color: rgb(50, 50, 50);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

#newEntry:hover {
  background-color: rgb(50, 50, 50);
  font-weight: normal;
  color: white;
}

.filterButton {
  font-size: large;
  cursor: pointer;
  border: none;
  padding: 3px 8px;
  margin: auto 2px;
}

.filterButtonSelected {
  background-color: rgb(100, 110, 60);
  color: white;
  border: none;
  font-size: large;
  padding: 3px 8px;
  margin: auto 2px;
}

.entry {
  background-color: #e9e9e9;
  border: 2px solid transparent;
  margin: 7px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.entryDetails {
  padding-top: 20px;
}

.entryTextGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
}
.entryTextItem {
  display: inline-grid;
  text-align: left;
  margin-top: 3px;
}

.label {
  display: inline-grid;
  background-color: rgb(100, 110, 60);
  padding: 3px 7px;
  color: white;
  font-weight: 600;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-right: 5px;
  text-align: right;
  height: fit-content;
}

.arrowContainer {
  background-color: rgb(40, 40, 40);
  border-radius: 5px;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.showMoreButton {
  width: 7px;
  height: 7px;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  transform: rotate(135deg);
  margin-top: 7px;
  margin-left: 3px;
}

.showLessButton {
  width: 7px;
  height: 7px;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  transform: rotate(225deg);
  margin-top: 3px;
  margin-left: 7px;
}

.modButtonContainer {
  margin-top: 20px;
  margin-bottom: 10px;
}

.modButton {
  margin: auto 5px;
  font-size: large;
  border: 2px solid rgb(50, 50, 50);
  border-radius: 5px;
  cursor: pointer;
}

.modButton:hover {
  background-color: rgb(50, 50, 50);
  color: white;
}

.entryModal {
  background-color: #e9e9e9;
  border: 3px solid rgb(50, 50, 50);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  height: fit-content;
  min-width: 500px;
  width: fit-content;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  max-height: 80%;
  overflow: auto;
}

.entryModal h1 {
  margin-bottom: 20px;
}

::-webkit-scrollbar {
  width: 20px;
  box-shadow: inset 0 0 14px 14px transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 6px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaaaaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #6b6b6b;
}

.entryModal ::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 20px;
}


.entryForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  margin: auto 10%;
}

.entryFormChild {
  display: inline-grid;
}

.entryFormSubmit {
  display: inline-grid;
  margin: auto 5px;
  font-size: large;
  border: 2px solid #323232;
  border-radius: 5px;
  cursor: pointer;
}

.entryFormSubmit:hover:enabled {
  background-color: rgb(50, 50, 50);
  color: white;
}

.entryFormSubmit:disabled {
  border: 2px solid transparent;
  cursor: default;
}

.registerValidationContainer {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

.registerValidation {
  width: 45%;
  margin: auto 5px;
  display: inline-block;
  vertical-align: top;
}

.registerValidationHeader {
  color: white;
  font-weight: 600;
  background-color: rgb(100, 110, 60);
  padding: 2px;
}

.validationEntry {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.validation {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}

.validationTick {
  display: inline-block;
  width: 20px;
  vertical-align: middle;
}

.loading {
  width: 110px;
  height: 102px;
  margin: 50px auto;
  background-image: url("./Assets/sppfy_loading.png");
  background-size: cover;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.externalDataContainer {
  text-align: right;
}

.externalData {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.externalDataHeader {
  display: inline-block;
  background-color: rgb(100, 110, 60);
  padding: 3px 7px;
  color: white;
  font-weight: 600;
  font-size: large;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 25px;
}

.externalDataEntry {
  color: rgb(40, 40, 40);
  display: inline-block;
  width: 20px;
  font-weight: 600;
  font-size: large;
  padding: 3px 5px;
  box-shadow: inset 0px 0px 0px 3px rgb(100, 110, 60);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 25px;
  vertical-align: top;
  text-align: center;
}

.externalDataLoading {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  padding: 3px 5px;
  box-shadow: inset 0px 0px 0px 3px rgb(100, 110, 60);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  vertical-align: top;
}

.externalDataLoading .loading {
  background-image: url("./Assets/data_loading.svg");
  width: 75%;
  height: 75%;
  margin: auto;
  margin-top: 3px;
}

.calendar {
  position: relative;
  margin: 0 auto;
  padding: 0px 15px 15px 15px;
  background-color: rgb(255, 254, 238);
  margin-top: 20px;
}

.externalDetails {
  position: absolute;
  right: 0;
  padding: 10px 15px;
  border: 5px solid rgb(100, 110, 60);
  border-bottom-left-radius: 20px;
  background-color: rgb(255, 254, 238);
  z-index: 2;
}

.externalDetails h2 {
  margin: 0;
  margin-bottom: 10px;
}

.externalEntry {
  background-color: rgb(170, 180, 130);
  padding: 10px 20px;
  margin: 10px;
}

.externalEntry button {
  margin: auto 5px;
  font-size: large;
  border: 2px solid rgb(50, 50, 50);
  border-radius: 5px;
  cursor: pointer;
}

.externalEntry button:hover {
  background-color: rgb(50, 50, 50);
  color: white;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  margin-top: 10px;
  padding-top: 0;
}

.calendarGrid .placeholder {
  display: inline-grid;
}

.calendarGrid .previousMonth {
  display: inline-block;
  margin-left: 20px;
  font-size: 1.3em;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.previousMonthArrow {
  position: absolute;
  top: 10px;
  left: 25px;
  width: 7px;
  height: 7px;
  border-top: 4px solid rgb(40, 40, 40);
  border-left: 4px solid rgb(40, 40, 40);
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  transform: rotate(-45deg);
  margin-top: 7px;
  margin-left: 3px;
}

.calendarGrid .nextMonth {
  display: inline-block;
  margin-right: 20px;
  font-size: 1.3em;
  font-weight: 600;
  text-align: right;
  cursor: pointer;
  padding-right: 10px;
  padding-top: 10px;
}

.nextMonthArrow {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 7px;
  height: 7px;
  border-top: 4px solid rgb(40, 40, 40);
  border-left: 4px solid rgb(40, 40, 40);
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  transform: rotate(135deg);
  margin-top: 7px;
  margin-right: 3px;
}

.calendarGrid .calendarMonth {
  display: inline-grid;
  font-size: 1.5em;
  font-weight: bold;
  grid-column: 2 / span 5;
  margin: 10px auto;
}

.calendarGrid .day {
  display: inline-grid;
  font-size: 1.3em;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 4px;
}

.calendarGrid .emptyCell {
  padding-top: 2px;
  padding-bottom: 2px;
  height: 100px;
}

.calendarGrid .cell {
  box-shadow: inset 0 0 0 1px rgb(150, 150, 150);
  min-height: 110px;
  text-align: right;
  padding: 2px 10px 10px 10px;
  cursor: pointer;
}

.calendarGrid #today {
  background-color: rgb(236, 233, 161);
  font-weight: bold;
}

.calendarGrid .cell p {
  margin: 0;
  margin-bottom: 2px;
}

.bookingNode {
  border: 3px solid blue;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  padding: 2px;
  margin-bottom: 5px;
}

.holidayNode {
  border: 3px solid green;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  padding: 2px;
  margin-bottom: 5px;
}

.offdayNode {
  border: 3px solid goldenrod;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  padding: 2px;
  margin-bottom: 5px;
}

.pickupNode {
  border: 3px solid red;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  padding: 2px;
  margin-bottom: 5px;
}

.modalBackground {
  background-color: grey;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 10;
}

.calendarModalDate {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.calendarModalLabel {
  position: relative;
  color: white;
  font-size: 2em;
  font-weight: 600;
  background-color: rgb(100, 110, 60);
  padding: 5px;
  margin: auto 50px;
}

.calendarModalLabel .createButton {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  font-size: 0.6em;
  margin: auto;
  padding: 3px 8px;
  height: fit-content;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.calendarModalLabel .createButton:hover {
  background-color: white;
  color: rgb(100, 110, 60);
}

.calendarModalContent {
  margin: auto 40px 40px 40px;
}
